<% @new.each do |story|%>
  <% if story.has_value?(@new_story) %>
    <img src=<%= story["image"] %> >
    <h3><%= story["author"] %></h3><br>
    <%= story["content"]["plain"] %>
  <% end %>
<% end %>